<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171101120833-ssjgsh4863mupi4f46s1o8j6m9mfs2j0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171101120833-ssjgsh4863mupi4f46s1o8j6m9mfs2j0</string>
	<key>API_KEY</key>
	<string>AIzaSyAf8q5bAULqqhl_oikZd6Yl-L2R4v7aLWI</string>
	<key>GCM_SENDER_ID</key>
	<string>171101120833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DBSec.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-1ab8b</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-1ab8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171101120833:ios:1335a01c8be2c8538a59c0</string>
</dict>
</plist>